@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    margin: 0;
}

.header {
    display: flex;
    margin: 8px auto 0 auto;
    max-width: 1344px;
}
.logo-title {
    margin-top: 1.4vw;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 122.33%;
    /* identical to box height, or 30px */
    letter-spacing: -0.045em;
    /*margin-left: -5.4vw;*/
    /*margin-top: 1.5vw;*/
    margin-left: 0.48vw;
}
.sec-color-title {
    color: #EE58B6;
}
.subtitle {
    display: flex;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 16px;
    /*margin-top: 1.2vw;*/
    margin: 1.2vw 0 1.2vw auto;
    /*max-width: 377px;*/
}
.sub-text {
    margin-right: 5.01vw;
    margin-left: -0.47vw;
}
.small-button {
    margin-top: 1vw;
    width: 198px;
    height: 44px;
    background: #05090C;
    border-radius: 4px;
    border-width: 0;
    margin-right: -0.54vw;
}
.text-button {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.info-wrap {
    display: flex;
    flex-direction: row;
}
.section-info {
    margin-left: 9.3vw;
}
.main-title {
    margin-top: 10.4vw;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 122.35%;
    color: #000000;
    /*margin-left: 8.7vw;*/
}
.main-title-sub {
    color: #EE58B6;
}
.info {
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
    /*margin-left: 8.7vw;*/
    margin-top: -2.4vw;
}

.right-info {
    flex-grow: 1;
    margin-left: 1.7vw;
    margin-top: -2.5vw;
}
.big-button {
    width: 265.6px;
    height: 44px;
    background: #05090C;
    border-radius: 0.25vw;
    border-width: 0;
    margin-top: 1vw;
    /*margin-left: 8.73vw;*/
}
.tagline {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17.6px;
    line-height: 120%;
    background-color: black;
    width: 100%;
    height: 318px;
    margin-top: -2.9vw;
    color: #FFFFFF;
}
.tagline-background {
    display: flex;
    /*justify-content: center;*/
    max-width: 911px;
    justify-content: space-between;
    margin-left: 311.5px;
    flex-grow: 1;
    margin-top: 135px;
}
.tagline-section {
    /*align-items: center;*/
    /*margin-left: -10px;*/
    margin-top: -3.5vw;
}
.tagline-time {
    margin-left: 6vw;
    margin-top: 0.5vw;
}
.tagline-notebook {
    margin-left: 7.15vw;
    margin-top: 0.5vw;
}
.tagline-target {
    margin-left: 5.6vw;
    margin-top: 0.5vw;
}
.tagline-text {
    margin-top: 0.65vw;
}
.you-cant-catch {
    display: flex;
    flex-direction: row;
    /*flex-grow: 1;*/
}
.left-wrap {
    flex-grow: 1;
    margin-left: 19vw;
    margin-top: 3.8vw;
}
.right-wrap {
    flex-grow: 1;
    justify-content: center;
    margin-top: 13.5vw;
    margin-left: -17vw;
}
.sec-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38.4px;
    line-height: 126.06%;
}
.sec-subtitle {
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.4px;
    line-height: 135%;
    margin-top: -0.8vw;
}
.deadline-again {
    display: flex;
}
.deadline-text {
    margin-left: 20.3vw;
    margin-top: 14.8vw;
    max-width: 450px;
}
.deadline-image {
    flex-grow: 1;
    margin-top: 2vw;
    margin-left: 7.8vw;
    max-width: 403px;
}
.third-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38.4px;
    line-height: 47px;
    text-align: center;
    margin-left: 1.25vw;
    margin-top: 4.8vw;
}
.you-can {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.4px;
    line-height: 17px;
}
.you-can-section {
    max-width: 286.4px;
    height: 152px;
    background: #000000;
    border-radius: 5.88579px;
    margin-top: 1vw;
    margin-right: 24px;
    /*margin-left: 5vw;*/
}   
.you-can-image {
    margin: 25.89px 225.19px 16.69px 31.48px;
}
.you-can-text {
    color: white;
    margin: -5px 39.18px 29.81px 31.4px;
}
.footer {
    width: 100%;
    background-color: black;
    height: 108px;
}
.footer-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    color: #FFFFFF;
    letter-spacing: -0.045em;
}