.form-wrap {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    max-width: 640px;
    height: 847px;
}

.form-crossbar {
    margin: 0;

    display: flex; justify-content: flex-end;
    max-width: 600px;
    width: 100%;
}
.form-crossbar__image {
    margin-top: 2vh;
    max-width: 16px;
    width: 100%
}
.form-text {
    margin-left: 1.5vw;
    margin-top: 0;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20.8px;
    line-height: 120%;
}

.input-wrap {
    width: 384px;
    height: 51.2px;
    background: #FFFFFF;
    border: 1.34888px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}

.input-wrap:hover {
    background: #F1F1F1;
}


.select-wrap {
    display: block;
    width: 100%;
}

.checkbox-block-wrap {
    margin: 28px 0;
}

.subscribe-block {
    width: 1em;
    height: 1em;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
}

.checkbox-text {
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 18px;
}

.submit-block {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14.4px;
    line-height: 18px;
    width: 384px;
    height: 51.2px;
    border-radius: 5.39553px;
    background-color: black;
    color: white;
    text-align: center;
}