@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin-left: 6.1vw;
}

.logo-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    color: #000000;
    letter-spacing: -0.045em;
}
.logo-title-sub {
    color: #EE58B6;
}
.subtitle {
    margin-top: 2.4vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.big-button {
    margin-top: 1vw;
    width: 247px;
    height: 55px;
    background: #05090C;
    border-radius: 4.59px;
    border-width: 0;
}
.text-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.main-title {
    margin-top: 2vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 122.35%;
    color: #000000;
}
.main-title-sub {
    color: #EE58B6;
}
.info {

}

.subtitle-main {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -3vw;
}
.subtitle-sub {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1vw;
}
.small-button {
    width: 332px;
    height: 55px;
    background: #05090C;
    border-radius: 4.59px;
    border-width: 0;
}